node_modules
/build
/public/build

/coverage
/cypress/screenshots
/cypress/videos
/mysql-data
/sandbox_data
/env

/.vscode
/.env
/.husky

Dockerfile
*.json
*.toml
*.log
*.sql
*.prisma
.gitignore
.prettierignore